html{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

head{
	padding: 0;
	margin: 0;
}
body{
	height: : 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

footer{
	height: 100%;
	width: 100%;
}

nav{
	margin: 0; 
	padding: 0;
}

body header nav{
	background-color:#122915;
	margin: 0; 
	padding: 0;
}

.footerstyle{
	background-color: #122915; 
	height: 5%; 
	margin-top: auto;
}