#footer {
  display: flex;
  width: 100%;
  padding: 8px 0px;
  background: linear-gradient(90deg, rgba(31, 77, 55, 0.5) 0.68%, rgba(0, 131, 58, 0.5) 99.69%);
  align-items: center;
  justify-content: center;
}

#footer .footer-content{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer a {
  text-decoration: none;
  outline: none;
  color: white;
}

#footer p {
  color: white;
  margin-bottom: 0px;
}

#footer .contact-info, #footer .policy {
  display: flex;
  flex-direction: column;
}

#footer .contact-info{
  align-items: flex-start;
}

#footer .policy{
  justify-content: center;
  margin-left: 4rem;
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: white;
  padding-left: 3rem;
}

.contact-info a {
  font-weight: bold;
  font-size: 1rem;
}

.contact-info p {
  font-weight: bold;
  font-size: 0.7rem;
}

.policy a{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: x-small;
  color: white;
  margin: 0px 0px 3px 0px;
}
