@media only screen and (min-width: 1024px) {
    html {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    body {
        background-color: white;
        height: max-content;
    }
    /*PROPRIEDADES DA BARRA DE NAVEGAÇÃO*/
    
    /*MODAL*/
    #titulo-modal {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 17.6px;
        margin: 0;
        display: flex;
        align-items: center;
    }
    .modal-dialog {
        max-width: 699.2px;
        top: 104px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .modal-content {
        height: 420.8px;
    }
    .modal-header {
        height: 48.8px;
        border: 1px solid #DEE2E6;
    }
    .modal-video {
        width: inherit;
        height: 307.2px;
        margin: 0;
    }
    /*MAIN*/
    .main {
        position: absolute;
        width: 100%;
        min-height: 550px;
        bottom: 0;
        left: 0;
        top: 145.4px;
    }
    .card-login {
        width: 435.2px;
        height: 439.2px;
        padding: 20px 50px 30px 50px;
        background: rgba(160, 160, 160, 0.08);
        border: 1px solid #D2D2D2;
        box-sizing: border-box;
        border-radius: 6px;
    }
    #card-login-title {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        ;
        font-size: medium;
        font-weight: bold;
    }
    .card-login-text {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: small;
    }
    #txtAjuda {
        position: absolute;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: small;
        text-decoration: underline;
        padding: 5px 15px 0px 0px;
        right: 0px;
    }
    .form-group {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .card-login-form {
        width: 100%;
        height: 30px;
        background: #FFFFFF;
        border: 0.5px solid #C5C5C5;
        box-sizing: border-box;
        border-radius: 3px;
        padding-left: 10px;
        font-size: small;
        font-style: italic;
        line-height: 19px;
    }
    .btn-entrar {
        width: 117px;
        height: 35.2px;
        border-width: 0px;
        border-left-style: solid;
        border-color: #FC6A38;
        background: #FC6A38;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(255, 255, 255);
        font-size: small;
        margin: 25px 0px 15px 0px;
    }
    .divisorou {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .divredessociais {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    /*FOOTER*/
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 73.6px;
        background: linear-gradient(90deg, rgba(31, 77, 55, 0.5) 0.68%, rgba(0, 131, 58, 0.5) 99.69%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .prefooter {
        display: contents;
    }
    .div-footer1 {
        margin-right: 40px;
    }
    .div-footer1 ul {
        margin: 0;
        padding: 0;
    }
    .div-footer1 ul li {
        display: inline-block;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: white;
        margin: 0px 10px 0px 0px;
    }
    .div-footer1_1 {
        display: inline-block;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: white;
        margin: 0px 50px 0px 0px;
    }
    .div-footer-beta {
        width: fit-content;
        font-size: x-small;
        color: white;
        margin: 0;
    }
    .div-footer2 {
        width: 220px;
        padding-left: 40px;
        color: white;
        border-left-style: solid;
        border-width: thin;
    }
    .div-footer2 a {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: x-small;
        color: white;
    }
    /*TEXTOS*/
    #email {
        color: white;
        text-decoration: none;
        margin: 0;
    }
    .divisor {
        border: 1px solid #939393;
        width: 130px;
        margin: 0px 0px 9px 0px;
    }
    .divisor-ou {
        color: #939393;
        margin: 0px 5px 10px 5px;
    }
    .fa-facebook-f {
        color: #00833A;
    }
    .fa-google-plus-g {
        color: #00833A;
    }
    .rectangle {
        width: 59px;
        height: 59px;
        margin: 0px 15px 0px 15px;
        border: 1px solid #00833A;
        box-sizing: border-box;
        border-radius: 100px;
    }
    .margemInferior {
        border: 1px solid #00833A;
        height: 80px;
    }
    .container {
        min-height: 100%;
    }
}

/*Mobile*/

@media only screen and (max-width: 1023px) {
    html {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }
    body {
        background-color: white;
        height: inherit;
    }
    /*BARRA DE NAVEGAÇÃO*/
   
    /*MODAL*/
    #titulo-modal {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 17.6px;
        margin: 0;
        display: flex;
        align-items: center;
    }
    .modal-dialog {
        max-width: 699.2px;
        top: 104px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .modal-content {
        height: 420.8px;
    }
    .modal-header {
        height: 48.8px;
        border: 1px solid #DEE2E6;
    }
    .modal-video {
        width: inherit;
        height: 307.2px;
        margin: 0;
    }
    /*MAIN*/
    .main {
        display: flex;
        justify-content: center;
        position: relative;
        min-height: calc(100% - 243px);
        padding: 18px 0px 18px 0px;
    }
    .card-login {
        width: 332px;
        height: 490px;
        padding: 25px 18px 0px 19px;
        background: rgba(160, 160, 160, 0.08);
        border: 1px solid #D2D2D2;
        box-sizing: border-box;
        border-radius: 6px;
    }
    #card-login-title {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        ;
        font-size: medium;
        font-weight: bold;
    }
    .card-login-text {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: small;
    }
    #txtAjuda {
        position: absolute;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: small;
        text-decoration: underline;
        padding: 5px 15px 0px 0px;
        right: 0px;
    }
    .form-group {
        position: relative;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .card-login-form {
        width: 295px;
        height: 39px;
        background: #FFFFFF;
        border: 0.5px solid #C5C5C5;
        box-sizing: border-box;
        border-radius: 3px;
        padding-left: 10px;
        font-size: small;
        font-style: italic;
        line-height: 19px;
    }
    .btn-entrar {
        width: 117px;
        height: 40px;
        border-width: 0px;
        border-left-style: solid;
        border-color: #FC6A38;
        background: #FC6A38;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(255, 255, 255);
        font-size: small;
        margin: 28px 0px 29px 0px;
    }
    .divisorou {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .divredessociais {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    /*FOOTER*/
    footer {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 183px;
        padding: 13px 31px 25.1px 38.39px;
        background: linear-gradient(90deg, rgba(31, 77, 55, 0.5) 0.68%, rgba(0, 131, 58, 0.5) 99.69%);
    }
    .prefooter {
        display: flex;
    }
    #email {
        max-width: 400px;
        padding-right: 10px;
        color: white;
        margin: 0px;
    }
    .div-footer1 ul {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .div-footer1 ul li {
        display: block;
        align-items: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: white;
    }
    .div-footer1 ul li i {
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
    .div-footer1_1 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: white;
        margin-top: 20px;
    }

    .div-footer-beta {
        width: fit-content;
        font-size: x-small;
        color: white;
        margin: 0;
    }
    .div-footer2 {
        width: 196px;
        font-size: x-small;
        color: white;
        display: grid;
        padding-top: 10px;
    }
    
    .div-footer2 a {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        color: white;
    }
    /*ICONES*/
    .divisor {
        border: 1px solid #939393;
        width: 130px;
        margin: 0px 0px 9px 0px;
    }
    .divisor-ou {
        color: #939393;
        margin: 0px 5px 10px 5px;
    }
    .rectangle {
        width: 44px;
        height: 44px;
        margin: 0px 15px 0px 15px;
        border: 1px solid #00833A;
        box-sizing: border-box;
        border-radius: 100px;
    }
    .fa-facebook-f {
        color: #00833A;
    }
    .fa-google-plus-g {
        color: #00833A;
    }
    .fa-2x {
        font-size: 1.5em;
    }
    .margemInferior {
        border: 1px solid #00833A;
        height: 80px;
    }
    .container {
        min-height: 100%;
    }
}