#barra_nav {
  display: flex;
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-item:last-child {
  margin-left: 16px;
}

@media only screen and (min-width: 1200px) {
  html {
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 1250px;
  }
  body {
    height: 100%;
    width: 100%;
  }
  /*PROPRIEDADES DA BARRA DE NAVEGAÇÃO*/
  header {
    background: linear-gradient(90deg, #1f4d37 0.68%, #00833a 99.69%);
    width: 100%;
    height: 70.4px;
    left: 0px;
    top: 0px;
  }
  #barra_nav {
    height: 100%;
    min-width: 1200px;
  }
  .logo {
    width: 116px;
    height: 41.46px;
  }
  .btnLogo {
    position: relative;
  }
  .navbar {
    width: inherit;
  }
  .btnNav {
    position: relative;
    /* left: 177.6px; */
    margin-right: auto;
  }
  .dropdownHeader {
    position: relative;
    /* right: 62.4px; */
  }
  .btn-dropdown-header {
    border: 1px solid #fc6a38;
    width: 142.4px;
    height: 35.2px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: x-small;
  }
  .dropdown-item-list {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  .dropdown-item-list:hover {
    background: #f8f9fa;
  }
  .dropdown-item:active {
    color: #00833a;
  }

  .btn-traducao-dropdown-header {
    border: 1px solid #fc6a38;
    width: 80.4px;
    height: 35.2px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: x-small;
    text-align: center;
    margin: 0px 3px;
    
  }
  .option-traducao{
    width: 80.4px;
    display: block;
    padding: 0.25rem 1.5rem;
    color: #212529;
  }

  .btn-login {
    border: 1px solid #fc6a38;
    width: 117.6px;
    height: 35.2px;
    background-color: #fc6a38;
    color: white;
  }
  .texto-btn-login {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 11.2px;
    margin: 0px 0px 0px 0px;
  }
  .icon-prop {
    font-size: 16px;
    margin-right: 8px;
  }
  .texto-usuario {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    margin: 0px 0px 0px 0px;
  }
  .icon-prop-usuario {
    font-size: 16px;
    margin-right: 8px;
  }
  a:hover {
    color: #1f4d37;
    text-decoration: none;
  }
  .nav-item-style {
    color: white;
    border-left-style: solid;
    border-width: 1px;
    border-color: #fc6a38;
    padding-left: 15px;
  }
  .nav-item-style:hover {
    color: #cf5b15;
    text-decoration: none;
  }

  /*PROPRIEDADES SELECT IDIOMAS*/
  .nav-item-select-style {
    background-color: #00833a;
    color: white;
    border-left-style: solid;
    border-width: 1px;
    border-color: #fc6a38;
    /**padding-left: 0px;*/
    padding: 0px 7px;
  }

  .texto-nav {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    margin: 0px 15px 0px 0px;
    padding-left: 15px;
  }
  /*PROPRIEDADES DOS MODAIS */
  #titulo-modal {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 17.6px;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .modal-dialog-utilizar {
    max-width: 699.2px;
    top: 104px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .modal-content-utilizar {
    height: 420.8px;
  }
  .modal-header-utilizar {
    height: 48.8px;
    border: 1px solid #dee2e6;
  }
  .modal-video {
    width: inherit;
    height: 307.2px;
    margin: 0;
  }
  /*INICIO DO MAIN */
  .main {
    position: absolute;
    height: auto;
    width: 100%;
    min-height: 550px;
    top: 70.4px;
  }
  .container {
    max-width: 1156.8px;
    padding: 0;
  }
  #coluna-menu {
    height: 100%;
    padding: 0;
  }
  #texto-menu-titulo {
    position: relative;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14.4px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.11em;
  }
  #botao-opcao {
    text-align: center;
  }
  .input-categoria {
    width: 117.6px;
    height: 35.2px;
    background-color: #fc6a38;
    color: white;
  }
  #container_contudo {
    height: calc(100% - 70.4px);
  }
  #linhas {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #div-menu {
    height: 100%;
    width: inherit;
  }
  #div-menu-categoria {
    height: inherit;
    width: 236.48px;
  }
  #coluna-menu-titulo {
    height: 52px;
    width: 236.48px;
    background: #3d996d;
    display: flex;
    justify-content: center;
  }
  #botao-titulo-mobile {
    display: none;
  }
  #coluna-menu-busca {
    height: 52px;
    width: 330.72px;
    background: #3d996d;
  }
  #div-menu-card {
    height: inherit;
    width: fit-content;
    /*width: 354.72px;*/
    padding: 0;
  }
  #div-mapa {
    height: 100%;
    width: 100%;
  }
  #location-map {
    height: 100%;
    padding: 0;
  }
  #janela_oculta {
    height: 100%;
  }
  #divImagemCartao {
    width: 304px;
    background: rgba(160, 160, 160, 0.1);
    border: 0.5px solid #a3a3a3;
    box-sizing: border-box;
    border-radius: 9px;
    margin: 8px 0px 9px 0px;
  }
  #div-card-superior {
    width: inherit;
    margin: 0px 0px 0px 0px;
  }
  #div-superior-imagem {
    width: 136px;
    height: inherit;
  }
  #img-card-prop {
    width: 115.2px;
    height: 115.2px;
    margin: 10.4px 0px 5.6px 9.6px;
  }
  #div-superior-conteudo {
    width: 170px;
    height: inherit;
  }
  #div-conteudo-titulo {
    /*height: 54.8px;*/
    width: inherit;
  }
  #txt-titulo-card {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14.8px;
    padding: 10.4px 0px 2px 0px;
    margin: 0;
  }
  #div-conteudo-descricao {
    width: inherit;
    /*height: 90.4px;*/
  }
  #txt-descricao-card {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    padding: 0px 0px 5.6px 0px;
    margin: 0;
  }
  #div-card-inferior {
    height: 59.2px;
    width: inherit;
  }
  #div-inferior-btns {
    height: 32px;
    width: inherit;
  }
  #div-inferior-txt {
    height: 27.2px;
    width: inherit;
  }
  #txt-marcadopor {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 9.6px;
    font-weight: bold;
    color: #2c2c2c;
    padding: 4px 0px 0px 14.4px;
    margin: 0;
  }
  #txt-marcadopor-nome {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 9.6px;
    color: #2a66da;
    padding: 4px 0px 0px 3px;
    margin: 0;
  }
  /*BOTÕES UTILIZADOS*/
  .btn-busca {
    width: 117px;
    height: 35.2px;
    border-width: 0px;
    border-left-style: solid;
    border-color: #fc6a38;
    background: #fc6a38;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: rgb(255, 255, 255);
    font-size: small;
    margin: 25px 0px 15px 0px;
  }
  #btn_sair {
    width: 19.2px;
    height: 19.2px;
    background: #57d99a;
    border: 1px;
    border-radius: 2px;
    margin-left: 25px;
  }
  .icon-close-prop {
    font-size: 16px;
    font-weight: bold;
    color: #3d996d;
  }
  .btn-orange {
    color: white;
    background: #fc6a38;
  }
  .form-control {
    border-radius: 0;
  }
  #btn-card1 {
    width: 115.144px;
    height: 32px;
    margin-left: 9.6px;
    margin-right: 11.76px;
    border: 1px solid #fc6a38;
    background: #fc6a38;
  }
  #btn-card1:hover {
    color: white;
  }
  .texto-btn-card1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    color: white;
    margin: 0;
  }
  #btn-card2 {
    width: 91.576px;
    height: 32px;
    border: 1px solid #fc6a38;
    background: white;
  }
  #btn-card2:hover {
    color: #fc6a38;
  }
  .texto-btn-card2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    color: #fc6a38;
    margin: 0;
  }
  #btn-filtro1 {
    width: 91.576px;
    height: 32px;
    margin-right: 12px;
    border: 1px solid #fc6a38;
    background: white;
    color: #fc6a38;
  }
  #btn-filtro2 {
    width: 91.576px;
    height: 32px;
    border: 1px solid #fc6a38;
    background: #fc6a38;
    color: white;
  }
  .texto-btn-filtro {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 11.2px;
    margin: 0;
  }
  .btn-cadastro1 {
    width: 91.576px;
    height: 32px;
    margin-right: 12px;
    border: 1px solid #fc6a38;
    background: white;
    color: #fc6a38;
  }
  .btn-cadastro2 {
    width: 91.576px;
    height: 32px;
    border: 1px solid #fc6a38;
    background: #fc6a38;
    color: white;
  }
  /*TIPOS DE TEXTOS*/
  .topicos-ecossistema {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28.8px;
    padding-bottom: 22px;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #1b5438;
  }
  .textos-ecossistema {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-size: 14.6px;
    margin: 0;
    align-items: center;
    color: #000000;
  }
  .lista-textos-ecossistema {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-size: 14.6px;
    margin: 0;
    padding: 15px 0px 0px 15px;
  }
  .scroll {
    overflow: scroll;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  /*FOOTER*/
  .modal-footer {
    background: white;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  body {
    height: 100%;
    width: 100%;
  }
  /*PROPRIEDADES DA BARRA DE NAVEGAÇÃO*/
  header {
    background: linear-gradient(90deg, #1f4d37 0.68%, #00833a 99.69%);
    width: 100%;
    left: 0px;
    top: 0px;
  }
  .logo {
    width: 107px;
    height: 39px;
  }
  .btnLogo {
    position: relative;
    margin-left: 20px;
  }
  .navbar {
    width: inherit;
  }
  #opcaoCadastro {
    display: none;
  }

  .btn-dropdown-header {
    border: 1px solid #fc6a38;
    width: 142.4px;
    height: 35.2px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: x-small;
  }
  .dropdown-item-list {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  .dropdown-item-list:hover {
    background: #f8f9fa;
  }
  .dropdown-item:active {
    color: #00833a;
  }
  .btn-traducao-dropdown-header {
    
    border: 1px solid #fc6a38;
    width: 80.4px;
    height: 35.2px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: x-small;
    text-align: center;
    margin: 0px 3px;
  }
  .option-traducao{
    width: 80.4px;
    display: block;
    padding: 0.25rem 1.5rem;
    color: #212529;background-color: transparent;
  }
  .btn-login {
    border: 1px solid #fc6a38;
    width: 117.6px;
    height: 35.2px;
    background-color: #fc6a38;
    color: white;
    margin-top: 15px;
  }
  .texto-btn-login {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 11.2px;
    margin: 0px 0px 0px 0px;
  }
  .icon-prop {
    font-size: 16px;
    margin-right: 8px;
  }
  .texto-usuario {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    margin: 0px 0px 0px 0px;
  }
  .icon-prop-usuario {
    font-size: 16px;
    margin-right: 8px;
  }
  a:hover {
    color: #1f4d37;
    text-decoration: none;
  }
  .nav-item-style {
    color: white;
    border-left-style: solid;
    border-width: 1px;
    border-color: #fc6a38;
    padding: 15px 0px 0px 15px;
  }
  .nav-item-style:hover {
    color: #cf5b15;
    text-decoration: none;
  }
  .texto-nav {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    margin: 0px 15px 0px 0px;
    padding-left: 15px;
  }
  /*#lista-nav {
        display: none;
    }
    
    #btn-user {
        display: none;
    }*/
  /*PROPRIEDADES DOS MODAIS */
  #titulo-modal {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 17.6px;
    margin: 0;
    display: flex;
    align-items: center;
  }
  #nome-categoria {
    margin: 0;
    font-size: 17.6px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 17.6px;
    margin: 0;
  }
  .modal-dialog-utilizar {
    max-width: 699.2px;
    top: 104px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .modal-content-utilizar {
    height: 420.8px;
  }
  .modal-header-utilizar {
    height: 48.8px;
    border: 1px solid #dee2e6;
  }
  .modal-video {
    width: inherit;
    height: 307.2px;
    margin: 0;
  }
  .modal-dialog-mobile {
    padding-top: 30px;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .modal-content-mobile {
    height: inherit;
  }
  .modal-mobile {
    width: inherit;
    height: inherit;
  }
  /*INICIO DO MAIN */
  .main {
    position: absolute;
    height: auto;
    width: 100%;
    min-height: 550px;
    top: 70.4px;
  }
  .container {
    max-width: 1156.8px;
    padding: 0;
  }
  #coluna-menu {
    height: 100%;
    padding: 0;
  }
  #texto-menu-titulo {
    position: relative;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14.4px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.11em;
  }
  #botao-opcao {
    text-align: center;
  }
  #listaOpcoesMobile {
    width: inherit;
  }
  #botao-opcao-mobile {
    text-align: center;
  }
  .input-categoria {
    width: 117.6px;
    height: 35.2px;
    background-color: #fc6a38;
    color: white;
  }
  #container_contudo {
    height: calc(100% - 60px);
  }
  #linhas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #div-menu {
    height: 52px;
    width: 100%;
  }
  #div-menu-categoria {
    height: inherit;
    width: 100%;
  }
  #coluna-menu-titulo {
    height: 52px;
    width: 100%;
    background: #3d996d;
    padding-left: 45px;
    display: flex;
    justify-content: space-between;
  }
  #botao-titulo-mobile {
    padding-right: 20px;
  }
  #coluna-menu-busca {
    height: 52px;
    width: 330.72px;
    background: #3d996d;
  }
  #div-menu-card {
    height: inherit;
    width: fit-content;
    /*width: 354.72px;*/
    padding: 0;
  }
  #div-mapa {
    height: 100%;
    width: 100%;
  }
  #location-map {
    height: 100%;
    padding: 0;
  }
  #janela_oculta {
    height: 100%;
  }
  #divImagemCartao {
    width: 304px;
    background: rgba(160, 160, 160, 0.1);
    border: 0.5px solid #a3a3a3;
    box-sizing: border-box;
    border-radius: 9px;
    margin: 8px 0px 9px 0px;
  }
  #div-card-superior {
    height: 131.2px;
    width: inherit;
    margin: 0px 0px 0px 0px;
  }
  #div-superior-imagem {
    width: 136px;
    height: inherit;
  }
  #img-card-prop {
    width: 115.2px;
    height: 115.2px;
    margin: 10.4px 0px 5.6px 9.6px;
  }
  #div-superior-conteudo {
    width: 170px;
    height: inherit;
  }
  #div-conteudo-titulo {
    /*height: 54.8px;*/
    width: inherit;
  }
  #coluna-categorias {
    height: 0%;
  }
  #txt-titulo-card {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14.8px;
    padding: 10.4px 0px 2px 0px;
    margin: 0;
  }
  #div-conteudo-descricao {
    width: inherit;
    /*height: 90.4px;*/
  }
  #txt-descricao-card {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 11px;
    padding: 0px 0px 5.6px 0px;
    margin: 0;
  }
  #div-card-inferior {
    height: 59.2px;
    width: inherit;
  }
  #div-inferior-btns {
    height: 32px;
    width: inherit;
  }
  #div-inferior-txt {
    height: 27.2px;
    width: inherit;
  }
  #txt-marcadopor {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 9.6px;
    font-weight: bold;
    color: #2c2c2c;
    padding: 4px 0px 0px 14.4px;
    margin: 0;
  }
  #txt-marcadopor-nome {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 9.6px;
    color: #2a66da;
    padding: 4px 0px 0px 3px;
    margin: 0;
  }
  /*BOTÕES UTILIZADOS*/
  .btn-busca {
    width: 117px;
    height: 35.2px;
    border-width: 0px;
    border-left-style: solid;
    border-color: #fc6a38;
    background: #fc6a38;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: rgb(255, 255, 255);
    font-size: small;
    margin: 25px 0px 15px 0px;
  }
  #btn_sair {
    width: 19.2px;
    height: 19.2px;
    background: #57d99a;
    border: 1px;
    border-radius: 2px;
    margin-left: 25px;
  }
  .icon-close-prop {
    font-size: 16px;
    font-weight: bold;
    color: #3d996d;
  }
  .btn-orange {
    color: white;
    background: #fc6a38;
  }
  .form-control {
    border-radius: 0;
  }
  #btn-card1 {
    width: 115.144px;
    height: 32px;
    margin-left: 9.6px;
    margin-right: 11.76px;
    border: 1px solid #fc6a38;
    background: #fc6a38;
  }
  #btn-card1:hover {
    color: white;
  }
  .texto-btn-card1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: x-small;
    color: white;
    margin: 0;
  }
  #btn-card2 {
    width: 91.576px;
    height: 32px;
    border: 1px solid #fc6a38;
    background: white;
  }
  #btn-card2:hover {
    color: #fc6a38;
  }
  .texto-btn-card2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: x-small;
    color: #fc6a38;
    margin: 0;
  }
  #btn-filtro1 {
    width: 91.576px;
    height: 32px;
    margin-right: 12px;
    border: 1px solid #fc6a38;
    background: white;
    color: #fc6a38;
  }
  #btn-filtro2 {
    width: 91.576px;
    height: 32px;
    border: 1px solid #fc6a38;
    background: #fc6a38;
    color: white;
  }
  .texto-btn-filtro {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 11.2px;
    margin: 0;
  }
  .btn-cadastro1 {
    width: 91.576px;
    height: 32px;
    margin-right: 12px;
    border: 1px solid #fc6a38;
    background: white;
    color: #fc6a38;
  }
  .btn-cadastro2 {
    width: 91.576px;
    height: 32px;
    border: 1px solid #fc6a38;
    background: #fc6a38;
    color: white;
  }
  .btn-categoria-mobile {
    width: 120px;
    height: 32px;
    border: 1px solid #fc6a38;
    background: #fc6a38;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: x-small;
  }
  .btn-categoria-mobile2 {
    width: 120px;
    height: 32px;
    border: 1px solid #6c757d;
    background: #6c757d;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: x-small;
    display: flex;
    align-items: center;
  }
  /*TIPOS DE TEXTOS*/
  .topicos-ecossistema {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28.8px;
    padding-bottom: 22px;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #1b5438;
  }
  .textos-ecossistema {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-size: 14.6px;
    margin: 0;
    align-items: center;
    color: #000000;
  }
  .lista-textos-ecossistema {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-size: 14.6px;
    margin: 0;
    padding: 15px 0px 0px 15px;
  }
  .scroll {
    overflow: scroll;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  /*FOOTER*/
  .modal-footer {
    background: white;
  }

  .nav-item:last-child {
    margin-left: 0px;
    margin-bottom: 24px;
  }
}

/*ELEMENTOS DO MAPA*/

#popupContainer {
  width: 170px;
  height: auto;
  padding: 5px;
}

.popupImg {
  width: 80px;
  height: 80px;
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 0px 0px 5px 0px;
}

.popupNome {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.popupTipo {
  margin: 0px 0px;
  text-align: center;
}

#popupBtnContainer {
  display: grid;
  justify-content: center;
  margin: 5px 0px 0px 0px;
}

.btnProp {
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 120px;
  height: auto;
  font-size: 10px;
  border-radius: 3px;
  padding: 5px;
  margin: 5px 0px 0px 0px;
}

.popupBtnConheca {
  border: solid 1px #fc6a38;
  background: white;
  font-weight: bold;
}

.popupBtnCompartilhar {
  border: solid 1px white;
  background: #fc6a38;
  font-weight: bold;
  cursor: pointer;
}

.popupBtnVerPatentes {
  border: solid 1px #1b5438;
  background: #1b5438;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
